.picture {
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: 1024px) {
	.picture {
		background-size: cover;
	}

	.picture__about {
		background-size: contain;
	}
}

/* @media (max-width: 877.71px) {
	.picture {
		background-size: contain;
	}
} */